
name: Sonar Cloud Scan

on:
  workflow_call:
    inputs:
      coverage-file:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  upload:
    name: Sonar Cloud Scan
    runs-on: ubuntu-latest
    steps:
      - name: SonarCloud Code Scan
        uses: sonarsource/sonarqube-scan-action@v5
        with:
          args: >
            -Dsonar.php.coverage.reportPaths=${{ inputs.coverage-file }}
            -Dsonar.tests=tests/
            -Dsonar.test.exclusions=tests/**
            -Dsonar.verbose=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
