name: PHP Tests

on:
  workflow_call:
    inputs:
      php-version:
        required: true
        type: string
        description: 'PHP version to test with'
        
      phpunit-config:
        type: string
        description: 'Path to PHPUnit configuration file'
        default: tests/phpunit.xml
jobs:
  test:
    name: Run PHPUnit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    env:
      MS_CLIENT_ID: ${{ secrets.MS_CLIENT_ID }}
      MS_CLIENT_SECRET: ${{ secrets.MS_CLIENT_SECRET }}
      MS_TENANT_ID: ${{ secrets.MS_TENANT_ID }}
      MS_RFR_TOKEN: ${{ secrets.MS_RFR_TOKEN }}
      GH_CLIENT_ID: ${{ secrets.GH_CLIENT_ID }}
      GH_CLIENT_SECRET: ${{ secrets.GH_CLIENT_SECRET }}
      GH_RFR_TOKEN: ${{ secrets.GH_RFR_TOKEN }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      OTHER_SMTP_USERNAME_1: ${{ secrets.OTHER_SMTP_USERNAME_1 }}
      OTHER_SMTP_PASSWORD_1: ${{ secrets.OTHER_SMTP_PASSWORD_1 }}
      OUTLOOK_TOKEN: ${{ secrets.OUTLOOK_TOKEN }}
      GMAIL_TOKEN: ${{ secrets.GMAIL_TOKEN }}
      SA_SQL_SERVER_PASSWORD: ${{ secrets.SA_SQL_SERVER_PASSWORD }}
      MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Determine PHPUnit version
        id: phpunit
        run: |
          PHP_VERSION="${{ inputs.php-version }}"
          
          if [[ "$PHP_VERSION" == "8.4" ]]; then
            echo "phpunit-version=11.5.27" >> $GITHUB_OUTPUT
          elif [[ "$PHP_VERSION" == "8.3" || "$PHP_VERSION" == "8.2" ]]; then
            echo "phpunit-version=10.5.48" >> $GITHUB_OUTPUT
          elif [[ "$PHP_VERSION" == "8.1" || "$PHP_VERSION" == "8.0" ]]; then
            echo "phpunit-version=9.5.20" >> $GITHUB_OUTPUT
          else
            echo "Unsupported PHP version: $PHP_VERSION"
            exit 1
          fi

      - name: Setup PHP ${{ inputs.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          extensions: mysqli, mbstring, sqlsrv
          tools: phpunit:${{ steps.phpunit.outputs.phpunit-version }}, composer
          coverage: xdebug

      - name: Install ODBC Driver for SQL Server
        run: |
          curl https://packages.microsoft.com/keys/microsoft.asc | sudo tee /etc/apt/trusted.gpg.d/microsoft.asc
          curl https://packages.microsoft.com/config/ubuntu/22.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt update
          sudo ACCEPT_EULA=Y apt install msodbcsql18 unixodbc-dev

      - name: Install Dependencies
        run: composer install --prefer-source --no-interaction
      
      - name: Execute Tests
        run: phpunit --configuration=${{ inputs.phpunit-config }} --coverage-clover=clover.xml --stop-on-failure

      - name: Rename coverage report
        run: |
          mv clover.xml php-${{ inputs.php-version }}-coverage.xml

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: php-${{ inputs.php-version }}-coverage.xml
